        .section3 {
            background-color:lavenderblush;
            padding: 20px;
            margin-top: 10px;
            border-left: 4px solid hotpink;
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }